<!--
The Panel Company Look Book Menu Bar. 
Lewis
Revision 1.0
--> 
<!DOCTYPE html>
<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Wall Panel Galleries 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        <h3>Wall Panel Galleries - Choose a Catagory</h3>
      </div>   
      <div class="row">
        <div class="column">
          <h3>Shop Gallery By Room</h3>
          <a href="https://www.panelcompany.co.uk/pages/bathroom-wall-panels">Bathroom Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/kitchen-wall-panels">Kitchen Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/feature-wall-panels">Feature Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/bedroom-wall-panels">Bedroom Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/hallway-panels">Hallway Wall Panel Gallery</a>
        </div>
        <div class="column">
          <h3>Shop Gallery By Style</h3>
          <a href="https://www.panelcompany.co.uk/pages/shop-by-image-contemporary">Contempory Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/sparkle-wall-panels">Sparkle Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/brick-effect">Brick Effect Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/marble-wall-panels">Marble Effect Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/stone-effect-wall-panels">Stone Effect Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/mineral-wall-panels">Mineral Effect Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/tile-effect">Tile Effect Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/mosaic-effect-wall-panels">Mosiac Effect Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/wood-effect-wall-panels">Wood Effect Wall Panel Gallery</a>
        </div>
        <div class="column">
          <h3>Shop Gallery By Colour</h3>
          <a href="https://www.panelcompany.co.uk/pages/white-wall-panels">White Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/light-grey-wall-panels">Light Grey Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/dark-grey-panels">Dark Grey Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/beige-wall-panels">Beige Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/blue-wall-panels">Blue Wall Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/black-wall-panels">Black Wall Panel Gallery</a>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Shower Panel Galleries 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        <h3>Shower Panel Galleries - Choose a Catagory</h3>
      </div>   
      <div class="row">
        <div class="column">
          <h3>Shop Gallery By Colour</h3>
          <a href="https://www.panelcompany.co.uk/pages/white-shower-panels">White Shower Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/light-grey-shower-panels">Light Grey Shower Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/dark-grey-marble">Dark Grey Shower Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/beige-shower-panels">Beige Shower Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/blue-shower-panels">Blue Shower Panel Gallery</a>
        </div>
        <div class="column">
          <h3>Shop Gallery By Style</h3>
          <a href="https://www.panelcompany.co.uk/pages/sparkled-shower-panel-gallery">Sparkle Shower Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/textured-shower-panels">Textured Shower Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/marble-shower-panel-gallery">Marble Shower Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/wood-effect-shower-panels">Wood Shower Panel Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/solid-core-wall-panels">Solid Core Panel Gallery</a>
        </div>
        <div class="column">
        </div>
      </div>
    </div>
  </div>
    <div class="dropdown">
    <button class="dropbtn">Flooring Galleries 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        <h3>Flooring Galleries - Choose a Catagory</h3>
      </div>   
      <div class="row">
        <div class="column">
          <h3>Flooring Gallery By Style </h3>
          <a href="https://www.panelcompany.co.uk/pages/herring-bone-style-flooring">Herringbone Flooring Gallery </a>
          <a href="https://www.panelcompany.co.uk/pages/plank-style-flooring">Plank Flooring Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/tile-gallery">Tile Flooring Gallery</a>
        </div>
        <div class="column">
          <h3>Flooring Gallery By Style</h3>
          <a href="https://www.panelcompany.co.uk/pages/white-flooring-gallery">White Flooring Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/grey-flooring-gallery">Grey SPC Flooring Gallery</a>
          <a href="https://www.panelcompany.co.uk/pages/dark-grey-flooring">Dark SPC Flooring Gallery</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="padding:16px">
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  font-weight: bold;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #333;
  font-family: Montserrat, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ffdc4a;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content .header {
  background: #ffdc4a;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #fffff;
  height: auto;
  color: black;

}

.column a {
  float: none;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 font-size: 14px;
color: black !important;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}



